<?xml version="1.0"?>
<model>
  <name>drone_demo</name>
  <version>1.0</version>
  <sdf version="1.6">drone_simple.sdf</sdf>

  <author>
    <name>Digital Twin Developer</name>
    <email>support@example.com</email>
  </author>

  <description>
    QAV250 Quadcopter Simple Model for Digital Twin Visualization
  </description>
</model>
